@charset "utf-8";
.wrapper{
    background-color: #eeeeee;
}
h1{
    text-align: center;
    color: green;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0 auto;


}
h2{
    color: green;
    border-left: 10px solid green;
    padding: 0px 10px;
    margin-inline-start:3px ;

}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start:3px ;
    margin-inline-end:3px ;
    unicode-bidi: isolate;
}
li{
    width: 32%;
    background-color: white;
}
.box img{
    width: 100%;
}
.box{
    max-width: 960px;
    padding: 50px 0px;
    margin: 0 auto;
}

@media screen and (max-width: 400px){
    #service ul{
        flex-direction: column;
    }
    li{
        width: 100%;
        margin-bottom: 10px;
    }
}