@charset "utf-8";
html{
    scroll-behavior: smooth;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7.6%;
    padding-left: 2.9%;
    position: absolute;
    width: 100%;
}

.header_nav ul{
    display: flex;
    gap: 75px;
}

.header_nav a{
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
      font-weight: bold;
      font-size: 18px;
}
.logo{
    width: 227px;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

body{
    background-color: blanchedalmond;
}

.sec_title img{
    width: auto;
    height: 77px;
}

.happy{
    text-align: center;
    margin: 0 auto;
    font-feature-settings: "palt";
}
.text{
    font-size: 30px;
    line-height: 0.25;
    padding: 60px;
}
h2{
    font-size: 82px;
    line-height: 1.17;
    padding-bottom: 60px;
}
.text_2{
    font-size: 23px;
    line-height: 1.65;
    padding-bottom: 100px;
}


#about_us{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 105px;
    max-width: 1000px;
}
.about_us_img{
    width: 50%;
}
.about_text_area{
    width: 50%;
    padding-left: 80px;
}

.about_us_img img{
    border-radius: 0px 0px 80px ;
}
.about_title{
    padding-top: 60px;
    padding: 0 10px;
}
.about_text{
    font-size: 44px;
    line-height: 1.38;
    font-feature-settings: "palt";
    padding-top: 55px;
    padding: 0 10px;
}
.about_text_body{
    font-size: 16px;
    line-height: 1.62;
    font-feature-settings: "palt";
    padding-top: 35px;
    padding: 0 10px;
}


.menu_title,.gallery_title,.event_title,.access_title{
    text-align: center;
    margin: 0 auto;
}

#menu {
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    position: relative;
    padding-bottom: 95px;
}

.menu_img img{
    border-radius: 0px 80px 0px 0px;
}
.menu_img {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.drink_text,.food_text,.sweets_text{
    color: red;
    font-size: 38px;
    margin-top: -20px;
}
.menu_body{
    font-size: 17px;
    line-height: 1.47;
    font-feature-settings: "palt";
    padding: 40px 0;
}


.gallery_img{
    display: flex;
    padding-bottom: 70px;
}
.gallery_img li{
    width: 20%;
}


#event{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    padding-bottom: 75px;
}

.box{
    background-color: #fff;
    border:#4f260b 3px solid;
    height: 200px;
    margin: 0 auto;
    padding: 35px 0;
}
.box li{
    font-size: 23px;
    display: flex;
    align-items: flex-start;
    max-width: 665px;
    margin: 0 auto 20px;
}
.box a{
    font-size: 23px;
    margin-left: 50px;
    text-decoration: underline;
}


.access_title{
    padding-bottom: 40px;
}

iframe{
filter: grayscale(100%) invert(92%) contrast(83%);
width: 100%;
}

footer{
    background-color: #fff;
    padding: 100px 0; 
}
.footer_inner{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer img{
    width: 226px;
    height: 50px;
}
footer p{
    font-size: 20px;
    line-height: 1.95;
}

.last{
    background-color:#fff;
    font-size: 16px;
    text-align: center;
}
.toTOP{
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 125px;
}

