@charset "utf-8";

.header_inner{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-right:7.6%;
 padding-left: 6.1%;
 padding-top: 2%;
 position: absolute;
 width: 100%;
 z-index: 9999;
}

.header_nav ul{
    display: flex;
    gap: 135px;
}

.logo{
width: 260px;

}
.header_nav img{
    height: 33px;
    width: auto;
}

.mainvisual{
    position: relative;
    display: inline-block;
}
.animals{
    position: absolute;
    right: 0;
    bottom: 60px;
}
.mountain{
    position: absolute;
    right: 0;
    bottom: -50px;
}

body{
    background-image:linear-gradient() 
    url("./image/texture.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.mainvisual p{
    position: absolute;
    top:30%;
    left: 26%;
    color: #ffcf36;
    font-size: 37px;
    line-height: 2.32;
    text-align: center;
    z-index: 2;
}

.main_text{
    text-align: center;
    margin: 0 auto;
    font-feature-settings: "palt";
}
.main_text p{
    font-size: 20px;
    line-height: 3;
}
.text{
    padding-top: 100px;
    padding-bottom: 133px;
}
.sec_title img{
    width: auto;
    height: 56px;
}
.sec_title{
    text-align: center;
    margin: 0 auto;
}

.works_img{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.works_img img{
    width: 100%;
    height: auto;
    display: block;
}
.pc_img{
    margin-top: 70px;
}
.works_wrapper{
    display:flex;
    flex-wrap: wrap;
    gap: 25px 115px;
    justify-content: center;
}
.works_img .white{
    width: 18px;
    position: absolute;
    left: 0;
    top: 2px;
}
.works_text{
    margin-top: 12px;
    font-size: 18px;
    width: 90%;
    text-align: left;
    line-height: 1.4;
    position: relative;
    padding-left: 22px;
}
.works_img span{
    font-weight: 600;
    font-size: 14px;
    margin-left: 22px;
    display: block;
}
.viewmore_button img{
    width: 143px;
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
}


.about_inner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 140px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.about_img img{
    width: 352px;
    border-radius: 30px;
}

.about_text_area{
    max-width: 480px;
    color:#fff;
}
.sec_title img{
    display: block;
    margin: 0 auto 25px;
}
h3{
    width: 78px;
}
.job{
    font-size: 14px;
    margin-bottom: 5px;
}
.name{
    width: 366px;
    margin-bottom: 25px;
}
.about_text{
    line-height: 1.9;
    margin-bottom: 60px;
}
.skill_title img{
    width: 150px;
    margin-bottom: 25px;
}
.skill_box{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.skill_line{
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.4;
    margin: 30px 0;
}
.skill_icon{
    width: 75px;
}
.skill_text p:first-child{
    font-weight: bold;
    margin-bottom: 5px;
}


#contact{
    text-align: center;
    margin: 0 auto;
}

.contact{
    position: relative;
}
.contact_text_area{
    margin-top: 20px;
    line-height: 1.8;
}
.contact_button img{
    width: 386px;
}
.contact_button{
    margin-top: 40px;
}

.footer_inner{
    text-align: center;
}
.footer_inner img{
    width: 100%;
    position: relative;
}
.footer_nav .nav_menu{
 display: flex;
 justify-content:center;
gap: 100px;
}

.footer_nav ul{
    display: flex;
    gap: 135px;
    margin: 0 0 0 550px;
}

.footer_nav img{
    height: 33px;
    width: auto;
}

.toTOP{
    position: fixed;
    bottom: 395px;
    right: 110px;
    width: 98px;
}