@charset "utf-8";


.header_inner{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-right:7.6%;
 padding-left: 6.1%;
 padding-top: 2%;
 position: absolute;
 width: 100%;
 z-index: 9999;
}

.header_nav ul{
    display: flex;
    gap: 135px;
}

.logo{
width: 260px;

}
.header_nav img{
    height: 33px;
    width: auto;
}

.mainvisual{
    position: relative;
    display: inline-block;
}

.animals{
    position: absolute;
    right: 0;
    bottom: 60px;
}
.mountain{
    position: absolute;
    right: 0;
    bottom: -50px;
}

body{
    background-image:linear-gradient(0deg, #0682b6, #051c44) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
body::after {
  position: fixed;
  content: "";
  background-image: url(../image/背景.png);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
}
main {
  background-image: linear-gradient(0deg, #0682b6, #051c44);
}
main::after {
  position: fixed;
  content: "";
  background-image: url(../image/背景.png);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.1;
  z-index: 0;
}
section,
header,
.footer_innner {
  position: relative;
  z-index: 1;
}
.mainvisual p{
    position: absolute;
    top:30%;
    left: 26%;
    color: #ffcf36;
    font-size: 37px;
    line-height: 2.32;
    text-align: center;
    z-index: 2;
}

.main_text{
    text-align: center;
    margin: 0 auto;
    font-feature-settings: "palt";
    position: relative;
    z-index: 2;
    background-color: transparent;
    background-image: url("../image/star_pc.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 100px;
}
.main_text p{
    font-size: 20px;
    line-height: 3;
}
.text{
    padding-top: 100px;
    padding-bottom: 133px;
}
.sec_title img{
    width: auto;
    height: 56px;
}
.sec_title{
    text-align: center;
    margin: 0 auto;
}

.works_img{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.works_img img{
    width: 100%;
    height: auto;
    display: block;
}
.pc_img{
    margin-top: 70px;
}
.works_wrapper{
    display:flex;
    flex-wrap: wrap;
    gap: 25px 115px;
    justify-content: center;
}
.works_img .white {
    width: 18px;
    position: absolute;
    left: 0;
    top: 2px;
}
.works_text{
    margin-top: 12px;
    font-size: 18px;
    width: 90%;
    text-align: left;
    line-height: 1.4;
    position: relative;
    padding-left: 22px;
}
.works_img span{
    font-weight: 600;
    font-size: 14px;
    margin-left: 22px;
    display: block;
}
.viewmore_button img{
    width: 226px;
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
}


.about_inner{
    max-width: 1440px;
    margin: 0 auto;
    padding: 140px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.about_img img{
    width: 352px;
    border-radius: 30px;
}

.about_text_area{
    max-width: 480px;
    color:#fff;
}
.sec_title img{
    display: block;
    margin: 0 auto 25px;
}
.about_text_area .sec_title {
  text-align: left;
}
.about_text_area .sec_title img {
  margin: 0;
  display: inline;
}
h3{
    width: 78px;
}
.job{
    font-size: 14px;
    margin-bottom: 5px;
}
.name{
    width: 366px;
    margin-bottom: 25px;
}
.about_text{
    line-height: 1.9;
    margin-bottom: 60px;
}
.skill_title img{
    width: 150px;
    margin-bottom: 25px;
}
.skill_box{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.skill_line{
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 0.4;
    margin: 30px 0;
}
.skill_icon{
    width: 75px;
}
.skill_text p:first-child{
    font-weight: bold;
    margin-bottom: 5px;
}


#contact{
    text-align: center;
    margin: 0 auto;
}

.contact{
    position: relative;
}
.contact_text_area{
    margin-top: 20px;
    line-height: 1.9;
}
.contact_button img{
    width: 386px;
}
.contact_button{
    margin-top: 40px;
}

.footer_inner{
    text-align: center;
    padding-top: 250px;
  padding-bottom: 30px;
}
.footer_inner img{
    width: 100%;
    position: relative;
}
.footer_nav .nav_menu{
 display: flex;
 justify-content:center;
gap: 100px;
}
.footer_nav {
  position: relative;
  z-index: 3;
  padding-bottom: 20px;
}
.footer_img {
  position: absolute;
  bottom: 0;
}
.footer_innner {
  padding-top: 250px;
  padding-bottom: 30px;
}
.last {
  position: relative;
  z-index: 3;
  text-align: center;
  color: #fff;
}
.footer_nav ul{
    display: flex;
    gap: 135px;
    margin: 0 0 0 550px;
}

.footer_nav img{
    height: 33px;
    width: auto;
}

.toTOP{
    position: fixed;
    bottom: 395px;
    right: 110px;
    width: 98px;
}





.works {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
.works h2 img{
    margin-top: 300px;
}
.works_category{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 60px 0 20px;
}
.works_category img.white{
    width: 16px;
}
.works_category span {
    font-size: 15px;
}
.works_item_box{
    display: grid;
    margin-bottom: 80px;
}
.two_col{
    grid-template-columns: repeat(2,1fr);
}
.four_col{
    grid-template-columns: repeat(4,1fr);
}
.works_item img{
    width: 100%;
    height: auto;
}
.works_item_sp img{
    width: 100%;
    height: auto;
}
.works_item p{
    margin-top: 12px;
    line-height: 1.6;
    font-size: 18px;
    color: #fff;
}


.send_button img{
    width: 386px;
}

.c-form {
	max-width: 1440px;
	margin: 0 auto;
}
.c-form__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 20px;
}
.c-form__label,
.c-form__input {
	padding: 10px;
}
.c-form__label {
	width: 90%;
}
.c-form__input {
	width: 90%;
	font-size: 16px;
	border: solid 1px #333;
	border-radius: 4px;
}

.c-form__required {
	border-radius: 4px;
	padding: 5px 5px;
	margin: 0 0 0 18px;
}
textarea.c-form__input {
	height: 160px;
}
.c-form__submit {
	text-align: center;
}
.c-form__submit button {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	border-radius: 4px;
	padding: 5px 32px;
	transition: 0.4s;
	cursor: pointer;
}
.c-form__submit button:hover {
	background-color: transparent;
}
.yellowstar{
    width: 18px;
    position: absolute;

}

@media (min-width: 640px) {
	.c-form__item {
		flex-wrap: nowrap;
	}
	.c-form__label {
		width: 40%;
	}
	.c-form__input {
		width: 55%;
	}
}



.detail_mainimage img {
  width: 70%;
  max-width: 900px;
  display: block;
  margin: 0 auto 60px;
}
.detail_list{
    width: 70%;
    max-width: 900px;
    margin: 0 auto 40px;
    padding: o;
    list-style: none;
}
.detail_list li{
margin-bottom: 25px;
}
.detail_item{
    width: 120px;
    display: inline-block;
}
.detail_line{
width: 100%;
margin-top: 5px;
display: block;
}
.detail{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}
.detail_lp{
    width: 588px;
    margin: 0 auto 150px;
}

.font-mincho {
  font-family: "Yu Mincho", "游明朝",
    "Hiragino Mincho ProN", serif;
}

.font-marugo {
  font-family: "FOT-筑紫B丸ゴシック Std" "M PLUS Rounded 1c",
    "BIZ UDGothic", sans-serif;
}
.yellow{
    color: #ffcf36;
}